<!-- src/app/time-logs/time-logs.component.html -->
<div style="display: flex; width: 100%">
  <div style="width: 50%">
    <table>
      <thead>
        <tr>
          <th>User's Name</th>
          <th>User's Email</th>
          <th>Project</th>
          <th>Date of the Log</th>
          <th>Time Worked</th>
        </tr>
      </thead>
      <tbody>
        <!-- <tr *ngFor="let log of timeLogs">
          <td>{{ log.firstName }} {{ log.lastName }}</td>
          <td>{{ log.email }}</td>
          <td>{{ log.timeLogs[0]?.project.name }}</td>
          <td>{{ log.timeLogs[0]?.logDate}}</td>
          <td>{{ log.timeLogs[0]?.hoursWorked }}</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>
