<div class="page" style="display: flex; width: 100%">
  <div class="page_content" style="width: 50%">
    <table>
      <thead>
        <tr>
          <th>User's Name</th>
          <th>User's Email</th>
          <th>Project</th>
          <th>Date of the Log</th>
          <th>Time Worked</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of users | paginate :{itemsPerPage: itemsPerPage, currentPage: currentPage}">
          <tr *ngFor="let timeLog of user.timeLogs">
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ timeLog.project.name }}</td>
            <td>{{ timeLog.logDate | date: 'short' }}</td>
            <td>{{ timeLog.hoursWorked }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <div *ngIf="users.length" class="pagination-controls-wrapper">
      <pagination-controls (pageChange)="currentPage=$event; getUsers()"></pagination-controls>
  </div>
  </div>
</div>
