<div class="page">
  <div class="page_content">
    <div>
      <label for="fromDate">From Date:</label>
      <input type="date" id="fromDate" [(ngModel)]="fromDate">

      <label for="toDate">To Date:</label>
      <input type="date" id="toDate" [(ngModel)]="toDate">

      <button (click)="updatePage()">Apply Filter</button>
    </div>

    <table>
      <thead>
        <tr>
          <th>User's Name</th>
          <th>User's Email</th>
          <th>Project</th>
          <th>Date of the Log</th>
          <th>Time Worked</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let timeLog of timeLogs | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: timeLogsCount }">
          <td>{{ timeLog.user.firstName }} {{ timeLog.user.lastName }}</td>
          <td>{{ timeLog.user.email }}</td>
          <td>{{ timeLog.project.name }}</td>
          <td>{{ timeLog.logDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ timeLog.hoursWorked }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="users.length" class="pagination-controls-wrapper">
      <pagination-controls (pageChange)="currentPage=$event; updatePage();"></pagination-controls>
    </div>
  </div>
</div>
